{% extends "base.html" %}
{% block scriptfoot %}

{% endblock %}

{% block content %}
<div class="row" style="padding:50px">
    <div class="col-lg-4">
        <h2>Work Based Learning</h2>
        <p>Create, update and delete Work Based Learning activities.  Work Based Learning activities consists of a title, date, location, type and list of student IDs.  Student IDs can be entered and modified at any time.</p>
    </div>
    <div class="col-lg-4">
        <h2>Students</h2>
        <p>View Work Based Learning activities for a student.  View students that participated in a particular Work Based Learning activity.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Reports</h2>
        <p>Under Development</p>
    </div>
</div><!-- /.row -->
{% endblock %}
