{% extends "base.html" %}

{% block foot %}
$(document).ready(function () {
  $(".panel-body").each(function(index){
	   $(this).slideUp("slow");
	})
  $(".panel-heading").click(function () {
      $(this).next().slideToggle("slow");
  });
  $('.button').click(function(){
      var type = $(this).attr("type");
      $(this).parent().attr("action","/students/" + type);
      $(this).parent().submit();
  });
});
{% endblock %}
{% block content %}
<div class="form-signin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="form-signin-heading">Search</h4>
    </div>
    <div class="panel-body">
      <form action="{{url_for('students',option='display')}}" method="POST">
        <label for="inputStudentID" >Student ID</label>
        <input type="text" id="inputStudentID" name="studentID" class="form-control" placeholder="Student ID" autofocus>
        <b type="studentID" class="button">Search</b><hr/>
        <label for="inputWBLTitle" >WBL Title</label>
        <input type="text" id="inputWBLTitle" name="wblTitle" class="form-control" placeholder="WBL Title">
        <b type="wblTitle" class="button">Search</b>
      </form>
    </div>
    <div class="panel-footer"></div>
  </div>


  {% for student in students %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="form-signin-heading">{{student.student_id}}</h4>
    </div>
    <div class="panel-body">
      <ul>
      {% for wbl in student.wbl %}
        <li>{{wbl}}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="panel-footer"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
